---
import AppIcon from '../components/AppIcon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout>
    <div></div>
<AppIcon src=https://cdn.pixabay.com/photo/2015/08/11/12/32/facebook-884378_1280.png url="https://www.example.com" alt="Facebuk" title="Facebook" />
<AppIcon class=" " src=https://media.printables.com/media/prints/852559/images/6557322_27c4a7b3-e480-40d4-9b62-10c9f5570d24_7d21314a-1720-45d8-ba5a-77c27f44d9fe/thumbs/inside/1280x960/png/wt1.webp  url="https://warthunder.com/es/"  title="War Thunder" />
<AppIcon src=https://static.vecteezy.com/system/resources/thumbnails/029/128/881/small/phone-icon-3d-rendering-png.png url=https://web.whatsapp.com/ alt="WHatap"
title="Whatsapp" />
<AppIcon src=https://cdn.pixabay.com/photo/2021/09/11/18/21/youtube-6616310_1280.png url=https://youtu.be/dQw4w9WgXcQ?si=_wVhCAXxK4N07j27 alt="yotuve" title="yutube" />
</BaseLayout>
