---
const { src, alt, title, url } = Astro.props;
---
<div class="app-icon">
  <a href={url} target="_blank">
    <img src={src} alt={alt} />
  </a>
  <p>{title}</p>
</div>
<style>
  .app-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
  }
  .app-icon img {
    width: 64px;
    height: 64px;
  }
  .app-icon p {
    margin-top: 8px;
    text-align: center;
    color: white;
  }
</style>