---
// Componente para mostrar la fecha y la hora
---
<div id="dateTime" class="date-time">Loading...</div>

<style>
  .date-time {
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
</style>
