---
// Componente para el menú de inicio
---
<div>
    <input class="input" type="text" placeholder="Buscar.......">
</div>
<style>
    .input {
        font-size: 25px;
        border-radius: 8px;
    }
    .input:focus {
        font-size: 25px;
        outline: 2px solid rgb(247, 59, 59);
    }
</style>