---
// Componente para el botón de inicio
---
<button class="start-button">
    <img src=https://cdn.icon-icons.com/icons2/1510/PNG/512/magnifiersearchinterfacecircularbutton_104679.png alt="Start" />
</button>

<style>
    .start-button {
        background-color: #444;
        border: none;
        padding: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .start-button:hover{
        background-color: red;
    }

    .start-button img {
        width: 24px;
        height: 24px;
    }
</style>
